.page-header {
  box-sizing: border-box;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: @white;
  z-index: 99;
  @media (min-width: @mobile-width) {
    width: 100%;
    background-color: transparent;
  }
}

.page-header__wrapper {
  &--transparent {
    height: 0;
    background-color: transparent;
  }
  position: relative;
  height: 56px;
  background-color: @white;
  @media (min-width: @tablet-width) {
    position: static;
    height: 0;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  width: 105px;
  margin: 0 auto;
  z-index: 3;
  @media (min-width: @desktop-width) {
    img {
      width: 186px;
      height: 96px;
    }
    width: 186px;
  }
}