.page-footer {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: @bg-color-dirty-white;
}

@media (min-width: @mobile-width) {
  height: 243px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__wrapper {
    width: 650px;
    height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__wrapper {
    width: 1024px;
    heiht: 50px;
  }
}

.page-footer__hashtag {
  margin-top: 40px;
  .font-title-big();
  color: @black;
  line-height: 26px;
}

.page-footer__copyright {
  .font-main();
  color: @black;
  line-height: 26px;
}

.page-footer__copyright-link {
  svg {
    vertical-align: middle;
    fill: @black;
  }
  &:hover {
    svg {
      fill: @lightblue;
    }
  }
  &:active {
    svg {
      fill: @black;
      opacity: 0.3;
    }
  }
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}
