.photo-gallery__title {
  .font-title();
  color: @black;
  line-height: 26px;
}

.photo-gallery__description {
  .font-main();
  color: @black;
  line-height: 26px;
}

.photo-gallery__list {
  .list();
}

.photo-gallery__item {
  border-top: 1px solid silver;
  &:last-child {
  border-bottom: 1px solid silver;
  }
}

.photo-gallery__item-title {
  .font-main();
  line-height: 24px;
  color: @black;
}

.photo-gallery__item-author {
  .font-main();
  line-height: 24px;
  color: #333333;
  text-transform: none;
}