.social-links {
  box-sizing: border-box;
  margin-bottom: 32px;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social-list {
  padding: 0;
  .list();
  font-size: 0;
  li {
    &:last-child {
      margin: 0;
    }
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
  }
  @media (min-width: @tablet-width) {
    li {
      margin-right: 6px;
    }
    margin-left: -6px;
  }
}

.social-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @lightblue;
  &:hover,
  &:focus {
    background-color: @blue;
  }
  &:active {
    background-color: @darkblue;
  }
}

.social-list__item svg {
  fill: @white;
  &:active {
    fill: #94b9d2;
  }
}