.social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  .list();
}

.social-list__item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: @lightblue;
}

.social-link {
  &--twitter {
    background-image: url("../img/icon-twitter.svg") no-repeat center;
  }
  &--facebook {
    background-image: url("../img/icon-facebook.svg") no-repeat center;
  }
  &--youtube {
  background-image: url("../img/icon-youtube.svg") no-repeat center;
  }
}