.video-gallery__text--uppercase {
  .font-title();
  color: @black;
}

.video-gallery__text {
  .font-main();
  color: @black;
}

.video-gallery__replay {
  border: none;
}

.video-gallery__subtitle {
  border: none;
}

.video-gallery__fullscreen {
  border: none;
}